<div kendo-splitter
     k-panes="[ {size : '32%'}, {size : '68%'}]"
     k-orientation="orientation"
     k-rebind="orientation">
    <div>
        <div ng-include="'partials/log-form.html'"></div>
    </div>
    <div>
        <div ng-include="'partials/log-output.html'"></div>
    </div>
</div>