html {
    height:100%;
}
body {
    min-height:100%;
}
.top-buffer{
    margin-top:10px;
}
a.nodecoration{
    text-decoration:none;
}
.shell-header{
    background-color: #272727;
    height: 60px;
}
.shell-header .top-logo-container{
    display: inline-block;
    width: 300px;
    height: 60px;
    line-height: 60px;
}

.shell-header .top-logo{
    width: 300px;
    height: 50px;
    vertical-align: middle;
    display: block;
    background: url('../images/verint-shell-logo.png') center center no-repeat;
}
.editor{
    background-color: #272727;
}
.editor{
    min-height:870px;
    padding: 10px;
	min-width:350px;
}


.editor .panel{
    padding: 20px;
    margin: auto;
}
.editor .log-links.panel {
    margin-top:20px;
}
.editor .panel .panel-body{
    padding: 0;
}
.editor .panel .panel-heading{
    color: #fff;
    margin-top: 20px;
}
.editor .k-treeview .k-minus {
    background-position: 0 -32px;
}
.editor .k-treeview .k-plus {
    background-position: 0 -16px;
}
.editor .k-treeview .k-checkbox {
    margin-top: 7px;
    margin-left: 4px;
}
.output{
    height:890px;
    background-color: #272727;
    font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    color: #e4ffa3;
}
.log-links-wrapper,
.editor .panel .panel-heading,
.editor .panel{
    background-color: #373737;
}
.output .k-grid .k-header,
.output .k-grid .k-header .k-link,
.output .k-grid  .k-pager-info.k-label,
.output .k-grid .k-pager-sizes.k-label,
.editor .k-treeview .k-in.k-state-hover{
    color: #51ba32;
}
.output .k-pager-wrap .k-link{
    background: transparent;
}
.container{
    width:100%;
    height:900px;
    margin: 0;
    padding: 0;
}
.container .k-splitter{
    width:100%;
    height:900px;
    border-color: #ccc;
}

.log-links-wrapper {
    text-align: center;
    padding: 20px;
}

.log-links-wrapper .link-container{
    height: 30px;
    background-color: #272727;
    line-height: 27px;
    margin: auto;
}

.log-links-wrapper .title{
    width: 235px;
    height: 28px;
    margin-right: 3px;
    float:left;
    border: none;
    box-shadow: none;
    cursor: default;

}

.log-links-wrapper .spinner{
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    margin-right: 6px;
    margin-top: 5px;
    float:left;
    background-image: url("/images/ajax-loader.gif");
}

.log-links-wrapper .show-link{
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 28px;
    vertical-align: middle;
    width: 16px;
    cursor: pointer;
    background-image: url("/images/grid-icon.png");
    margin-right: 6px;
}

.log-links-wrapper .download-link{
     background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 28px;
    vertical-align: middle;
    width: 16px;
     cursor: pointer;
    background-image: url("/images/download-icon.png");
    margin-right: 6px;
}