<div class="editor">
<form class="form-horizontal" role="form" ng-submit="runQuery()">

<div class="panel panel-default">
    <input data-kendo-date-time-picker
           k-options="timeOptions"
           data-ng-model="timeQuery"
            />

    <select kendo-drop-down-list
            k-options="rangeOptions"
            k-ng-model="timeRange"/>

    <div class="panel-heading">Machines</div>
    <div class="panel-body">
    <div    id="serversTree"
            kendo-tree-view
         k-options="serversOptions">
    </div>

        <div class="pull-right btn-group">
    <input class="btn btn-primary" type="submit" id="submit" value="Create Logs" />
        </div>
    </div>
<div class="clearfix"></div>
    </div>


</form>

    <div ng-include="'partials/log-links.html'"></div>


</div>

