<div class="log-links panel panel-default">
    <div class="panel-heading" >History</div>
<div class="log-links-wrapper">

<div ng-repeat="log in logscollected">
    <div class="link-container">
        <div class="title">
            <span>{{log.timestamp}}</span>&nbsp;&nbsp;<span>{{log.timeRange}}</span>
        </div>
        <div ng-show="!log.linkShow" class="spinner"></div>
        <div ng-show="log.linkShow" class="show-link" ng-click="showMergedLog(log.requestId)"></div>
        <div ng-show="log.linkShow" class="download-link" ng-click="downloadLogs(log.requestId)" ></div>

    </div>

</div>
    </div>
</div>